
@font-face {
    font-family: Monument Grotesk Mono;
    src: url(../fonts/ABCMonumentGroteskMono-Regular.otf);
    font-weight: normal;
}

*{
    font-family: "Monument Grotesk Mono", Arial, sans-serif;
}